/* Everforest Hard */
.theme-everforest-hard {
	--background: #FFFBEF;
	--foreground: #5C6A72;
	--card: #F8F5E4;
	--card-foreground: #5C6A72;
	--popover: #F2EFDF;
	--popover-foreground: #5C6A72;
	--primary: #35A77C;
	--primary-foreground: #FFFBEF;
	--secondary: #E8E5D5;
	--secondary-foreground: #5C6A72;
	--muted: #F2EFDF;
	--muted-foreground: #939F91;
	--accent: #3A94C5;
	--accent-foreground: #FFFBEF;
	--destructive: #F85552;
	--destructive-foreground: #FFFBEF;
	--border: #A6B0A0;
	--input: #EDEADA;
	--ring: #35A77C;
	--chart-1: #F85552;
	--chart-2: #DFA000;
	--chart-3: #8DA101;
	--chart-4: #3A94C5;
	--chart-5: #DF69BA;
	--dot-base: rgba(147, 159, 145, 0.15);
	--sidebar: #F2EFDF;
	--sidebar-foreground: #5C6A72;
	--sidebar-primary: #35A77C;
	--sidebar-primary-foreground: #FFFBEF;
	--sidebar-accent: #3A94C5;
	--sidebar-accent-foreground: #FFFBEF;
	--sidebar-border: #939F91;
	--sidebar-ring: #35A77C;
	--font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
	--font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	--radius: 0.5rem;
	--shadow-x: 0;
	--shadow-y: 1px;
	--shadow-blur: 3px;
	--shadow-spread: 0px;
	--shadow-opacity: 0.1;
	--shadow-color: hsl(0 0% 0%);
	--shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
	--shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
	--shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
	--shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
	--shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
	--shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
	--shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
	--shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
	--tracking-normal: 0em;
	--spacing: 0.25rem;
}

.dark.theme-everforest-hard {
	--background: #272E33;
	--foreground: #D3C6AA;
	--card: #2E383C;
	--card-foreground: #D3C6AA;
	--popover: #374145;
	--popover-foreground: #D3C6AA;
	--primary: #83C092;
	--primary-foreground: #272E33;
	--secondary: #495156;
	--secondary-foreground: #D3C6AA;
	--muted: #1E2326;
	--muted-foreground: #859289;
	--accent: #7FBBB3;
	--accent-foreground: #272E33;
	--destructive: #E67E80;
	--destructive-foreground: #272E33;
	--border: #7A8478;
	--input: #414B50;
	--ring: #83C092;
	--chart-1: #E67E80;
	--chart-2: #DBBC7F;
	--chart-3: #A7C080;
	--chart-4: #7FBBB3;
	--chart-5: #D699B6;
	--dot-base: rgba(157, 169, 160, 0.15);
	--sidebar: #1E2326;
	--sidebar-foreground: #D3C6AA;
	--sidebar-primary: #83C092;
	--sidebar-primary-foreground: #272E33;
	--sidebar-accent: #7FBBB3;
	--sidebar-accent-foreground: #272E33;
	--sidebar-border: #859289;
	--sidebar-ring: #83C092;
	--font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
	--font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	--radius: 0.5rem;
	--shadow-x: 0;
	--shadow-y: 1px;
	--shadow-blur: 3px;
	--shadow-spread: 0px;
	--shadow-opacity: 0.1;
	--shadow-color: hsl(0 0% 0%);
	--shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
	--shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
	--shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
	--shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
	--shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
	--shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
	--shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
	--shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

/* Everforest Medium */
.theme-everforest-medium {
	--background: #FDF6E3;
	--foreground: #5C6A72;
	--card: #F4F0D9;
	--card-foreground: #5C6A72;
	--popover: #EFEBD4;
	--popover-foreground: #5C6A72;
	--primary: #35A77C;
	--primary-foreground: #FDF6E3;
	--secondary: #E0DCC7;
	--secondary-foreground: #5C6A72;
	--muted: #EFEBD4;
	--muted-foreground: #939F91;
	--accent: #3A94C5;
	--accent-foreground: #FDF6E3;
	--destructive: #F85552;
	--destructive-foreground: #FDF6E3;
	--border: #A6B0A0;
	--input: #E6E2CC;
	--ring: #35A77C;
	--chart-1: #F85552;
	--chart-2: #DFA000;
	--chart-3: #8DA101;
	--chart-4: #3A94C5;
	--chart-5: #DF69BA;
	--dot-base: rgba(147, 159, 145, 0.15);
	--sidebar: #EFEBD4;
	--sidebar-foreground: #5C6A72;
	--sidebar-primary: #35A77C;
	--sidebar-primary-foreground: #FDF6E3;
	--sidebar-accent: #3A94C5;
	--sidebar-accent-foreground: #FDF6E3;
	--sidebar-border: #939F91;
	--sidebar-ring: #35A77C;
	--font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
	--font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	--radius: 0.5rem;
	--shadow-x: 0;
	--shadow-y: 1px;
	--shadow-blur: 3px;
	--shadow-spread: 0px;
	--shadow-opacity: 0.1;
	--shadow-color: hsl(0 0% 0%);
	--shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
	--shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
	--shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
	--shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
	--shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
	--shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
	--shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
	--shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
	--tracking-normal: 0em;
	--spacing: 0.25rem;
}

.dark.theme-everforest-medium {
	--background: #2D353B;
	--foreground: #D3C6AA;
	--card: #343F44;
	--card-foreground: #D3C6AA;
	--popover: #3D484D;
	--popover-foreground: #D3C6AA;
	--primary: #83C092;
	--primary-foreground: #2D353B;
	--secondary: #4F585E;
	--secondary-foreground: #D3C6AA;
	--muted: #232A2E;
	--muted-foreground: #859289;
	--accent: #7FBBB3;
	--accent-foreground: #2D353B;
	--destructive: #E67E80;
	--destructive-foreground: #2D353B;
	--border: #7A8478;
	--input: #475258;
	--ring: #83C092;
	--chart-1: #E67E80;
	--chart-2: #DBBC7F;
	--chart-3: #A7C080;
	--chart-4: #7FBBB3;
	--chart-5: #D699B6;
	--dot-base: rgba(157, 169, 160, 0.15);
	--sidebar: #232A2E;
	--sidebar-foreground: #D3C6AA;
	--sidebar-primary: #83C092;
	--sidebar-primary-foreground: #2D353B;
	--sidebar-accent: #7FBBB3;
	--sidebar-accent-foreground: #2D353B;
	--sidebar-border: #859289;
	--sidebar-ring: #83C092;
	--font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
	--font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	--radius: 0.5rem;
	--shadow-x: 0;
	--shadow-y: 1px;
	--shadow-blur: 3px;
	--shadow-spread: 0px;
	--shadow-opacity: 0.1;
	--shadow-color: hsl(0 0% 0%);
	--shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
	--shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
	--shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
	--shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
	--shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
	--shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
	--shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
	--shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

/* Everforest Soft */
.theme-everforest-soft {
	--background: #F3EAD3;
	--foreground: #5C6A72;
	--card: #EAE4CA;
	--card-foreground: #5C6A72;
	--popover: #E5DFC5;
	--popover-foreground: #5C6A72;
	--primary: #35A77C;
	--primary-foreground: #F3EAD3;
	--secondary: #D8D3BA;
	--secondary-foreground: #5C6A72;
	--muted: #E5DFC5;
	--muted-foreground: #939F91;
	--accent: #3A94C5;
	--accent-foreground: #F3EAD3;
	--destructive: #F85552;
	--destructive-foreground: #F3EAD3;
	--border: #A6B0A0;
	--input: #DDD8BE;
	--ring: #35A77C;
	--chart-1: #F85552;
	--chart-2: #DFA000;
	--chart-3: #8DA101;
	--chart-4: #3A94C5;
	--chart-5: #DF69BA;
	--dot-base: rgba(147, 159, 145, 0.15);
	--sidebar: #E5DFC5;
	--sidebar-foreground: #5C6A72;
	--sidebar-primary: #35A77C;
	--sidebar-primary-foreground: #F3EAD3;
	--sidebar-accent: #3A94C5;
	--sidebar-accent-foreground: #F3EAD3;
	--sidebar-border: #939F91;
	--sidebar-ring: #35A77C;
	--font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
	--font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	--radius: 0.5rem;
	--shadow-x: 0;
	--shadow-y: 1px;
	--shadow-blur: 3px;
	--shadow-spread: 0px;
	--shadow-opacity: 0.1;
	--shadow-color: hsl(0 0% 0%);
	--shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
	--shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
	--shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
	--shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
	--shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
	--shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
	--shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
	--shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
	--tracking-normal: 0em;
	--spacing: 0.25rem;
}

.dark.theme-everforest-soft {
	--background: #333C43;
	--foreground: #D3C6AA;
	--card: #3A464C;
	--card-foreground: #D3C6AA;
	--popover: #434F55;
	--popover-foreground: #D3C6AA;
	--primary: #83C092;
	--primary-foreground: #333C43;
	--secondary: #555F66;
	--secondary-foreground: #D3C6AA;
	--muted: #293136;
	--muted-foreground: #859289;
	--accent: #7FBBB3;
	--accent-foreground: #333C43;
	--destructive: #E67E80;
	--destructive-foreground: #333C43;
	--border: #7A8478;
	--input: #4D5960;
	--ring: #83C092;
	--chart-1: #E67E80;
	--chart-2: #DBBC7F;
	--chart-3: #A7C080;
	--chart-4: #7FBBB3;
	--chart-5: #D699B6;
	--dot-base: rgba(157, 169, 160, 0.15);
	--sidebar: #293136;
	--sidebar-foreground: #D3C6AA;
	--sidebar-primary: #83C092;
	--sidebar-primary-foreground: #333C43;
	--sidebar-accent: #7FBBB3;
	--sidebar-accent-foreground: #333C43;
	--sidebar-border: #859289;
	--sidebar-ring: #83C092;
	--font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
	--font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	--radius: 0.5rem;
	--shadow-x: 0;
	--shadow-y: 1px;
	--shadow-blur: 3px;
	--shadow-spread: 0px;
	--shadow-opacity: 0.1;
	--shadow-color: hsl(0 0% 0%);
	--shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
	--shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
	--shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
	--shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
	--shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
	--shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
	--shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
	--shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}
